*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
img {
    width: 100%;
}
input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.thong-tin-gio-hang {
    margin-left: 500px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px #ddd;
    width: 30%;
    border-radius: 8px;
    height: 300px;
    
}
.thong-tin-gio-hang .thong-tin {
    padding: 20px;
}
.thong-tin-gio-hang .thong-tin #item {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}
.thong-tin-gio-hang .thong-tin .title-pa {
    width: 100%;
    padding-bottom: 20px;
}
.thong-tin-gio-hang .thong-tin #item p:last-child {
    margin-left: auto;
}
.thong-tin-gio-hang .thong-tin #item title {
    font-size: 18px;
}
.thong-tin-gio-hang .thong-tin .code button {
    font-size: 16px;
    width: 40%;
    background-color: rgb(43, 132, 235);
}
.thong-tin-gio-hang .thong-tin .code button:hover {
    background-color: rgb(14, 96, 190);
}
.thong-tin-gio-hang .thong-tin button {
    width: 100%;
    height: 35px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: rgb(243, 124, 12);
    color: white;
}
.thong-tin-gio-hang .thong-tin button:hover {
    background: rgb(209, 106, 9);
}