.main {
    max-width: 1200px;
    margin: auto;
}
.main .section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.main .section .item {
    width: 100%;
    padding: 20px;
}
.main .section .item .title {
    font-size: 36px;
    text-align: center;
    padding: 20px;
}
.main .section .item #title-menu {
    margin-left: 70px;
}
.main .section .item #title-menu li,i {
    color: rgb(77, 75, 75);
}
.main .section .item #title-menu .item-con {
    padding: 8px 0;
}
.main .section .item #title-menu li,i:hover{
    color: rgb(77, 75, 75);
}
.main .section .item #title-menu .item-con .item {
    padding-top: 10px;
    padding-bottom: 0;
}
.x {
    border-bottom: 1px solid #ddd;
}
.map-container {
    position: relative;
    padding-bottom: 75%;
    
    height: 0;
    overflow: hidden;
}
.map-container>iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
border: none;
}