*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
:root {
  --box-shadow: rgb(209, 209, 209);
  --border-color: rgb(236, 232, 232);
  --font-color: rgb(100, 97, 97);
  --font-color-hover: rgb(0, 0, 0);
  --primary-btn: rgb(51, 122, 216);
  --primary-btn-dark: rgb(22, 87, 172);
}
img {
  width: 100%;

}
.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
.btn-primary {
  background-color: var(--primary-btn);
  color: white;
}
.btn-primary:hover {
  background-color: var(--primary-btn-dark);
  color: white;
}
/*nav-bar*/
#nav-bar {

  border-bottom:1px solid var(--border-color);
}
#nav-bar .top-bar {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
#nav-bar .top-bar .item-cha {
  padding: 8px 14px;
  font-size: 16px;
  line-height: 20px;
}
#nav-bar .top-bar .item-cha:hover .item-menu {
  display: block;
}
#nav-bar .top-bar .item-cha a,i {
  color: var(--font-color);
}
#nav-bar .top-bar .item-cha a:hover,:hover {
  color: var(--font-color-hover);
}
#nav-bar .top-bar .item-cha:nth-last-child(2) {
  margin-left: auto;
}
#nav-bar .top-bar .item-cha .item-menu {
  border: 1px solid var(--border-color);
  box-shadow: 1px 2px 4px var(--box-shadow);
  position: absolute;
  top: 36px;
  display: none;
}
#nav-bar .top-bar .item-cha .item-menu .item-con {
  padding: 5px 10px;
}
#nav-bar .top-bar .item-cha .item-menu .item-con:hover {
  text-decoration: underline black;
}
/*header main*/
#header-main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
#header-main #logo {
  margin-top: 20px;
  width: 150px;
  
}
#header-main #logo img {
  margin-top: 20px;
  width: 180px;
  
}
#header-main #search {
  width: 50%;
  margin-top: 90px;
  margin-left: 180px;
  height: 34px;
  border: 1px solid var(--border-color);
  text-align: center;
  border-radius: 16px;
}
#header-main #search input {
  border: 0;
  height: 30px;
  width: 90%;
  float: left;
  margin-left: 15px;
}
#header-main #search form {
  height: 30px;
  padding: 2px 2px;
}
#header-main #search form label i {
  padding: 7px 10px;
}
#header-main #search input:focus{
  outline: none;
}
#header-main .item-cha:nth-last-child(4) {
  margin-left: auto;
}
#header-main #account {
  margin-top: 80px;
  padding: 10px 10px;
  border-right: 1px solid var(--border-color);
  height: 36px;
}
#header-main #account:hover .account-item {
  display: block;
}
#header-main #account .account-item {
  max-width: 300px;
  position: absolute;
  top: 150px;
  z-index: 1000;
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px #ddd;
  display: none;
}
#header-main #account .account-item button,input {
  width: 100%;
  padding: 5px;
}
#header-main #account .account-item input {
  border: 1px solid rgb(114, 110, 110);
  border-radius: 5px;
  margin-bottom: 10px;
}
#header-main #account .account-item button {
  margin-top: 5px;
  border: 1px solid rgb(207, 19, 19);
  border-radius: 5px;
  color: rgb(207, 19, 19);
}
#header-main #account .account-item button:hover{
  color: white;
  background-color: rgb(207, 19, 19);
}
#header-main #create-account {
  margin-top: 80px;
  padding: 10px 10px;
  height: 36px;
}
#header-main .item-cha a{
  color: var(--font-color-hover);
}
#header-main #cart {
  margin-top: 80px;
  padding-left: 40px;
  height: 32px;
  display: block;

}
#header-main #so-luong {
  margin-top: 70px;
  border: 1px solid #ddd;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
}
/* #header-main .item-cha .item-menu {
  border: 1px solid var(--border-color);
  box-shadow: 1px 2px 4px var(--box-shadow);
  position: absolute;
} */
/*header bottom*/
header {
  border-bottom: 1px solid var(--border-color) ;
}
#header-bottom {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-left: 330px;

 
}
#header-bottom .item-cha {
  padding: 5px 40px;
}
#header-bottom .item-cha a{
  color: var(--font-color-hover);
  font-size: 20px;
}
#header-bottom .item-cha a:hover {
  color: rgb(240, 156, 0);
}
#header-bottom .item-cha .item-menu {
  border: 1px solid var(--border-color);
  box-shadow: 1px 2px 4px gray;
  position: absolute;
  width: 600px;
  display: flex;
  flex-direction: row;
  display: none;
  z-index: 1000;
  /* background-color: rgb(253, 253, 253); */
  background:rgb(253, 255, 249);
}
#header-bottom .item-cha:hover .item-menu {
  display: flex;
}
#header-bottom .item-cha .item-menu li:hover,h3:hover {
  color: rgb(243, 143, 11);
}
#header-bottom .item-cha .item-menu .item-menu-con {
  padding: 10px 20px;
}
#header-bottom .item-cha .item-menu .item-menu-con li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.slider-product-one
{
    width: 90%;
    margin: 0 auto;
    margin-left: 100px;
}
.slider-product-one-container
{
    width: 96%;
    background-color: #FED100;
    padding: 12px;
}
.slider-product-one-container-title>h2
{
    font-style: italic;
    padding: 12px 0;
}
.slider-product-one-container-items
{
    display: flex;
    justify-content: space-evenly;
}

.slider-product-one-container-item
{
    width: 19%;
    background-color: #fff;
    padding: 50px 12px 12px;
    border-radius:5px ;
    cursor: pointer;
}
.slider-product-one-container-item>img
{
    width: 100%;
    transition: all 0.5s ease;
}
.slider-product-one-container-item:hover>img
{
    transform: translateY(-20px);
}
.slider-product-one-container-item-text
{
    padding-top: 20px;
}
.slider-product-one-container-item-text>li
{
    margin-bottom: 6px;
}
.slider-product-one-container-item-text>li:nth-child(2)
{
    text-decoration: line-through;
    color: #626262;
}
.slider-product-one-container-item-text>li:nth-child(1):hover
{
    
    color: #1d89aa;
}
.slider-product-one-container-item-text>li:nth-child(3)
{
    font-weight: bold;
}
.slider-product-one-container-item-text>li:last-child>i
{
    color: #FED100;
}
.slider-product-one-container2
{
    width: 96%;
    background-color: #ddd;
    padding: 12px;
}

.menu-foo {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;  
  
}
.menu-foo .title {
  padding: 10px 20px;
  width: 25%;
}
.menu-foo .title h2{
  padding-top: 5px;
  padding-bottom: 20px;

}
.menu-foo .title #title-menu .item-con {
  padding: 10px 5px;
}
.menu-foo .title #title-menu .item-con-img {
  padding: 40px 10px;
}
.menu-foo .title #title-menu .item-con a,i {
  color: var(--font-color-hover);
}
.menu-foo .title #title-menu .item-con a i {
  padding: 5px 20px;
  padding-left: 0;
}
.menu-foo #title-form {
  width: 25%;
}
.menu-foo #title-form label,input,textarea {
  width: 100%;
  display: block;
}
.menu-foo #title-form label {
  margin-top: 10px;
}
.menu-foo #title-form input,textarea {
  margin-top: 5px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.menu-foo #title-form button {
  width: 40%;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #F7442E;
  color: #fff;
}
.menu-foo #title-form button:hover{
  background-color: #C53624;
}
.footer-bottom {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row; 
  padding-left:25% ;
  border-top:1px solid var(--border-color) ;
}
.footer-bottom .item-con {
  padding: 5px 5px;
}
/*  */
.container{
	max-width: 1000px;
	margin: 0 auto;
}

.container>article{
	/* min-height: 200px; */
	width: 75%;
	background-color: white;
	text-align: center;
  margin-left: 136px ;
}